.contacts {
  padding: 10px 10px;
  box-shadow: 2px 2px 6px -6px rgba(0, 0, 0, 0.8);
  flex: 0.4;
  transition: all 200ms ease-in-out;
}
.contacts > h3 {
  font-weight: 600;
  background-color: white;
}
.contacts > hr {
  background-color: #241e74;
  font-size: 14px;
  padding: 2px 2px;
}
.contact {
  display: flex;
  padding: 10px 40px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 4px 5px -5px rgba(1, 2, 3, 0.4);
  border-radius: 30px;
  margin-top: 5px;
  transition: all 200ms ease-in-out;
}

.contact > h3:hover {
  cursor: pointer;
}
.contact > .contact__avatar {
  margin-right: 10px;
  transition: transform 100ms ease-in-out;
}
.contact > .contact__avatar:hover {
  cursor: pointer;
  background-color: grey;

  border-radius: 50%;
}
.call__avatar {
  margin-left: 10px;
}
.call__avatar:hover {
  cursor: pointer;
  transform: scale(1.07);
  border-radius: 50%;
}
